/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
  MAIN COlOR
  #087F5B, #054C37
  Gray
  #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #343a40;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 44px;
  margin-bottom: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 24px;
}

.header {
  padding-top: 64px;
  width: 60%;
  display: grid;
  grid-template-columns: 2fr;
  gap: 24px;
}

.header-text-box {
  grid-column: 1/2;
}

.component-heading {
  margin: 100px 0 0 0;
}

.main-pic {
  grid-column: 2/3;
}

li,
a,
a:visited {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  color: #343a40;
}

li a {
  overflow: hidden;
}

li a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

/* ACCORDION */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 700px;
  margin: 70px auto;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
}
.accordion-number,
.accordion-text {
  font-size: 24px;
  font-weight: 500;
  /* color: #054c37; */
}
.accordion-number {
  color: #c2c4c6;
}

.accordion-icon {
  width: 24px;
  height: 24px;
  stroke: #054c37;
}
.hidden-box {
  display: none;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.open {
  border-top: 4px solid #054c37;
}

.open .hidden-box {
  display: block;
}
.open .accordion-number,
.open .accordion-text {
  color: #054c37;
}

/* CAROUSEL */

.carousel {
  margin: 70px auto;
  background-color: #054c37;
  width: 800px;
  border-radius: 8px;
  padding: 32px 48px 32px 96px;

  display: flex;
  align-items: center;
  gap: 86px;

  position: relative;
}

.carousel-btn {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.carousel-btn--right {
  right: 0;
  transform: translateX(50%);
}

.carousel-btn--left {
  left: 0;
  transform: translateX(-50%);
}

.carousel-btn-icon {
  stroke: #054c37;
  height: 24px;
  width: 24px;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translate(0, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid #054c37;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-pic {
  width: 200px;
  border-radius: 8px;
  transform: scale(1.65);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #fff;
}
.testimonial-author {
  color: #e2fdf5;
  font-size: 14px;
  margin-bottom: 4px;
}
.testimonial-job {
  color: #e2fdf5;
  font-size: 12px;
}

/* TABLE */

table {
  margin: 70px 0;
  width: 800px;
  border-collapse: collapse;
}

td,
th {
  padding: 16px 24px;
  text-align: left;
}

thead th {
  background-color: #054c37;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #e6edeb;
}

tbody tr:nth-child(even) {
  background-color: #cddbd7;
}

/* PAGINATION COMPONENT */

.pagination {
  width: 55-0px;
  margin: 70px 0;
  padding: 24px 32px;
  display: flex;
  gap: 15px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #054c37;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.current-page {
  background-color: #054c37;
  color: #fff;
}

.pagination-btn:hover,
.page-btn:hover {
  background-color: #054c37;
  color: #fff;
  stroke: #fff;
  cursor: pointer;
}

/* HERO SECTION */
nav {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.605),
      rgba(255, 255, 255, 0.057)
    ),
    url("hero.jpg");
  background-size: cover;
  color: #fff;
  padding: 48px;
  width: 100%;
  height: 100vh;
}

nav,
.hero-content,
.hero-1 {
  width: 1200px;
}

.hero-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-1-inner {
  width: 50%;
}

.hero-h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.1;
}

.hero-p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.hero-btn:link,
.hero-btn:visited {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #ef6334;
  padding: 16px 32px;
  border-radius: 8px;
  display: inline-block;
}

.hero-h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 96px;
  background-color: #f7f7f7;
}
