/* rem and em do NOT depend on html font-size in media queries! 
   Instead , 1rem = 1em = 16px */

/****************************/
/* BELOW 1344px (Smaller desktops) */
/****************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .small {
    display: inline-block !important;
  }

  .big {
    display: none !important;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials-gallery figure:nth-child(5),
  .testimonials-gallery figure:nth-child(8),
  .testimonials-gallery figure:nth-child(9),
  .testimonials-gallery figure:nth-child(10) {
    display: none;
  }
}

/****************************/
/* BELOW 1200px (Landscape Tablets) */
/****************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    padding: 0.8rem 1.6rem;
  }

  .grid {
    column-gap: 3.2rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .main-nav-list {
    gap: 2.4rem;
  }

  .testimonials-container {
    padding: 6.4rem 3.2rem 6.4rem 3.2rem;
  }
}

/****************************/
/* BELOW 944px (Tablets) */
/****************************/

@media (max-width: 59em) {
  html {
    /* 8px/16px = 50% */
    font-size: 50%;
  }

  .big {
    display: inline-block !important;
  }

  .small {
    display: none !important;
  }

  .main-nav-list {
    gap: 1.2rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    padding: 1.6rem 3.2rem;
  }

  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .customers-feedback {
    justify-content: center;
  }

  .logo-box img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-card-details {
    padding: 1.6rem 3.2rem 3.2rem 3.2rem;
  }

  .testimonials-section {
    grid-template-columns: 1fr;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-form button {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */

  .nav-burger {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.96);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    /* HIDE navigation */
    /* Allows NO transitions */
    /* display: none; */
    /* 1. hide visualy */
    opacity: 0;
    /* 2. make unaccessible */
    pointer-events: none;
    /* 3. hide it from screenreaders */
    visibility: hidden;
  }

  .nav-open > .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .pricing-card {
    width: 80%;
  }

  .pricing-card:nth-of-type(2)::before {
    top: 25px;
    right: -45px;
  }
}

/****************************/
/* BELOW 704px (Small Tablets) */
/****************************/

@media (max-width: 44em) {
  .pricing-card {
    width: 100%;
  }

  .pricing-features {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.8rem;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-row: 2;
    grid-column: span 3;
  }

  .cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 6.4rem;
  }
}

/****************************/
/* BELOW 544px (Phones) */
/****************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .cols-2,
  .cols-3,
  .cols-4 {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 4.8rem;
  }

  .omnifood-hero {
    padding: 2.4rem 0 4.8rem 0;
  }

  .hero-img {
    width: 80%;
  }

  .logo-box img {
    height: 1.6rem;
  }

  .how-img-box:nth-child(2) {
    grid-row: 1;
  }
  .how-img-box:nth-child(6) {
    grid-row: 5;
  }

  .how-img-box {
    transform: translateY(2.4rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    padding: 0.8rem;
  }

  .testimonials-gallery figure:nth-child(5) {
    display: block;
  }

  .pricing-features {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem;
  }
}
